body {
  margin: 0;
}

header,
main,
footer {
  background-color: #eee;
  margin-bottom: 1%;
  padding: 2%;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  margin: 0.3%;
}

#container {
  position: relative;
  border: 3px red dashed;
  width: 100%;
  aspect-ratio: 10/9;
}

/* SKRIV KUN KODE HERUNDER */

.redBox {
  background-color: #ff1d00;
  position: absolute;

  /*  left: 50%; */
  /*  top: 20%; */
  /*     transform-origin: bottom left;
    rotate:0deg; */
  transform-origin: bottom right;
  translate: 100px 100px;
  scale: 0.3;
}

.yellowBox {
  background-color: #ffeb00;
  position: absolute;

  /* left: 50%; */
  /* top: 20%; */
  /*    transform-origin: bottom left;
     rotate:72deg; */
  transform-origin: bottom right;
  translate: 130px 130px;
  scale: 0.5;
}

.pinkBox {
  background-color: #ff9ecf;
  position: absolute;

  /* left: 50%; */
  /* top: 20%; */
  /*   transform-origin: bottom left;
    rotate:144deg; */
  transform-origin: bottom right;
  translate: 170px 170px;
  scale: 0.7;
}

.greenBox {
  background-color: #1fd81f;
  position: absolute;

  /*  left: 50%; */
  /*  top: 20%; */
  /*  transform-origin: bottom left;
     rotate: 216deg; */
  transform-origin: bottom right;
  translate: 220px 220px;
  scale: 0.9;
}

.blueBox {
  background-color: #0180fc;
  position: absolute;

  /*  left: 50%; */
  /*  top: 20%; */
  /*   transform-origin: bottom left;
     rotate:288deg; */
  transform-origin: bottom right;
  translate: 290px 280px;
  scale: 1.2;
}
